<div id="filters" class="accordion">
  <h3><a href="#">Fitros</a></h3>
  <div class="filters-content">
  <a href="" class='clean-filters'>Limpiar valores</a>
  <%= semantic_form_for @search do |f| %>
    <%= f.inputs do %>
	    <%= f.input :id_eq, :label => 'N°' %>
	    <%= f.input :solicitante_id_eq, :label => 'Solicitante', :as => :select, :collection => Usuario.all %>
	    <%= f.input :empresa_id_eq, :label => 'Empresa', :as => :select, :collection => Empresa.enabled %>
	    <%= f.input :sector_id_eq, :label => 'Sector', :as => :select, :collection => Sector.enabled %>
	    <%= f.input :rubro_id_eq, :label => 'Rubro', :as => :select, :collection => Rubro.enabled %>
	    <%= f.input :estado_eq, :label => 'Estado', :as => :select, :collection => estados_for_collection %>
    <% end %>
    <%= f.buttons do %>
      <%= f.commit_button :search %>
      <li class="reset">
        <%= link_to 'Ver todos (sin filtrar)', Requerimiento %>
      </li>
    <% end %>
  <% end %>
  </div>
</div>

