<div id="filters" class="accordion">
  <h3><a href="#">Fitros</a></h3>
  <div class="filters-content">
  <a href="" class='clean-filters'>Limpiar valores</a>
  <%= semantic_form_for @search do |f| %>
    <%= f.inputs do %>
	    <%= f.input :id_eq, :label => 'N°' %>
	    <%= f.input :solicitante_id_eq, :label => 'Solicitante', :as => :select, :collection => Usuario.all %>
	    <%= f.input :empresa_id_eq, :label => 'Empresa', :as => :select, :collection => Empresa.enabled %>
	    <%= f.input :sector_id_eq, :label => 'Sector', :as => :select, :collection => Sector.enabled %>
	    <%= f.input :rubro_id_eq, :label => 'Rubro', :as => :select, :collection => Rubro.enabled %>
      <%= f.input :estado_eq, :label => 'Estado', :as => :select, :collection => estados_for_collection %>
      <%= f.input :created_at_gte, :label => 'Fecha desde aaaa/mm/dd hh:mm:ss' %>
      <%= f.input :created_at_lte, :label => 'Fecha hasta aaaa/mm/dd hh:mm:ss' %>
      <%= f.input :by_supplier, :label => 'Proveedor', :as => :select, :collection => Proveedor.enabled.sorted, :label_method => :razon_social %>
      <li class="string optional">
        <label for="search">Autorizaciones de responsables faltantes</label>
        <input type="text" name="responsables_faltantes" value=''>
      </li>
    <% end %>
    <%= f.buttons do %>
      <%= f.commit_button :search %>
      <li class="reset">
        <%= link_to 'Ver todos (sin filtrar)', Requerimiento %>
      </li>
    <% end %>
  <% end %>
  </div>
</div>