<%= form_for(@requerimiento) do |f| %>
  <% if @requerimiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requerimiento.errors.count, "error evita", "errores evitan") %> que el requerimiento se grabe:</h2>

      <ul>
      <% @requerimiento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <b>Solicitante:</b>
    <%= @requerimiento.solicitante %>
  </p>
	<%= f.hidden_field :solicitante_id, :value => @requerimiento.solicitante.id %>

  <div class="field">
    <%= f.label :empresa %><br />
    <%= select("requerimiento", "empresa_id", Empresa.all.collect{|e| [e.nombre, e.id]}, { :include_blank => true  } ) %>
  </div>
  <div class="field">
    <%= f.label :sector %><br />
    <%= select("requerimiento", "sector_id", Sector.all.collect{|s| [s.nombre, s.id]}, { :include_blank => true  } ) %>
  </div>
  <div class="field">
    <%= f.label :rubro %><br />
    <%= select("requerimiento", "rubro_id", Rubro.all.collect{|r| [r.nombre, r.id]}, { :include_blank => true  } ) %>
  </div>
  <div class="actions">
    <%= f.submit "Continuar"%>
  </div>
<% end %>
