<h2>Rechazar requerimiento <%= @requerimiento.id %></h2>

<%= semantic_form_for :rechazo, :url => rechazar_requerimiento_url, :html => {:method => :put} do |f| %>
  <%= f.inputs do %>
    <%= f.input :motivo, :as => :text %>
  <% end %>
  <%= f.buttons do %>
    <%= f.commit_button "Rechazar" %>
  <% end %>
<% end %>

