<h2>Presupuestos</h2>
<% if @requerimiento.presupuestos.empty? %>
	Aun no posee presupuestos cargados
<% else %>
	<table>
		<tr>
		  <th>Proveedor</th>
		  <th>Monto</th>
		  <th>Condición de pago</th>
		  <th>Detalle</th>
		  <th></th>
		  <th></th>
		</tr>

	<% @requerimiento.presupuestos.each do |presupuesto| %>
		<tr>
		  <td><%= presupuesto.proveedor.razon_social %></td>
			<td>
				<%= presupuesto.moneda.simbolo %>
				<%= number_with_precision presupuesto.monto %>
			</td>
		  <td><%= presupuesto.condicion_pago.nombre %></td>
		  <% if can? :gestionar_presupuesto, @requerimiento %>
			  <td><%= link_to 'Editar', edit_presupuesto_path(presupuesto) %></td>
			  <td><%= link_to 'Eliminar', presupuesto, :confirm => 'Esta seguro?', :method => :delete %></td>
			<% else %>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			<% end %>
		</tr>
	<% end %>
	</table>
<% end %>
<% if can? :gestionar_presupuesto, @requerimiento %>
	<%= link_to 'Agregar presupuesto', new_requerimiento_presupuesto_path(@requerimiento)  %>
<% end %>

