<h2>Presupuestos</h2>
<% if @requerimiento.presupuestos.empty? %>
	Aun no posee presupuestos cargados
<% else %>
	<table>
		<thead>
			<tr>
				<th>Proveedor</th>
				<th>Monto</th>
				<th>Condición de pago</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @requerimiento.presupuestos.each do |presupuesto| %>
				<tr>
					<td><%= presupuesto.proveedor.razon_social %></td>
					<td>
						<%= presupuesto.moneda.simbolo %>
						<%= number_with_precision presupuesto.monto %>
					</td>
					<td><%= presupuesto.condicion_pago.nombre %></td>
					<td>
					<% if can? :gestionar_presupuesto, @requerimiento %>
						<%= link_to 'Editar', edit_presupuesto_path(presupuesto) %>
						<%= link_to 'Eliminar', presupuesto, :confirm => 'Esta seguro?', :method => :delete %>
					<% end %>
					<% if can? :aprobar_presupuestos, @requerimiento %>
						<%= link_to 'Aprobar presupuesto', aprobar_presupuesto_path(presupuesto), :method => :put  %>
					<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
<% if can? :gestionar_presupuesto, @requerimiento %>
	<%= link_to 'Agregar presupuesto', new_requerimiento_presupuesto_path(@requerimiento)  %>
<% end %>

