<div class="contextual">
  <%= link_to 'Nuevo requerimiento', new_requerimiento_path %>
</div>

<h1>Requerimientos</h1>

<div id="filters" class="accordion">
  <h3><a href="#">Fitros</a></h3>
  <div class="filters-content">
  <a href="" class='clean-filters'>Limpiar valores</a>
  <%= semantic_form_for @search do |f| %>
    <%= f.inputs do %>
	    <%= f.input :id_eq, :label => 'N째' %>
	    <%= f.input :solicitante_id_eq, :label => 'Solicitante', :as => :select, :collection => Usuario.all %>
	    <%= f.input :empresa_id_eq, :label => 'Empresa', :as => :select, :collection => Empresa.enabled %>
	    <%= f.input :sector_id_eq, :label => 'Sector', :as => :select, :collection => Sector.enabled %>
	    <%= f.input :rubro_id_eq, :label => 'Rubro', :as => :select, :collection => Rubro.enabled %>
	    <%= f.input :estado_eq, :label => 'Estado', :as => :select, :collection => estados_for_collection %>
    <% end %>
    <%= f.buttons do %>
      <%= f.commit_button :search %>
      <li class="reset">
        <%= link_to 'Ver todos (sin filtrar)', Requerimiento %>
      </li>
    <% end %>
  <% end %>
  </div>
</div>

<% if @requerimientos.empty? %>
	<p>Aun no hay requerimientos cargados.</p>
<% else %>
	<table>
		<thead>
			<tr>
				<th title="ordenar por N째"><%= sort_link @search, :id, 'N째' %></th>
				<th title="ordenar por fecha"><%= sort_link @search, :created_at, 'Fecha' %></th>
				<th title="ordenar por solicitante"><%= sort_link @search, :solicitante, 'Solicitante' %></th>
        <th title="ordenar por empresa"><%= sort_link @search, :empresa, 'Empresa' %></th>
        <th title="ordenar por sector"><%= sort_link @search, :sector, 'Sector' %></th>
        <th title="ordenar por rubro"><%= sort_link @search, :rubro, 'Rubro' %></th>
				<th>Estado</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @requerimientos.each do |requerimiento| %>
				<tr id="<%= requerimiento.id %>">
					<td><%= link_to "#{requerimiento.id}", requerimiento, :title => "Editar requerimiento n째 #{requerimiento.id}"  %></td>
					<td><%=	l requerimiento.created_at, :format => :short %></td>
					<td><%= requerimiento.solicitante %></td>
					<td><%= requerimiento.empresa %></td>
					<td><%= requerimiento.sector %></td>
					<td><%= requerimiento.rubro %></td>
					<td><%= requerimiento.estado %></td>
					<td class="actions">
					  <%= link_to 'Ver', requerimiento %>
					  <% if can? :edit, requerimiento %>
						  <%= link_to 'Editar', edit_requerimiento_path(requerimiento) %>
					  <% end %>
					  <%= link_to 'Materiales', requerimiento_materiales_path(requerimiento), :remote => true  %>
					</td>
				</tr>
				<tr class="row_details" style="display:none;">
				  <td colspan='6'></td>
				</tr>
			<% end %>
		</tbody>
	</table>
  <%= will_paginate @requerimientos %>
<% end %>

<script>
  $(document).ready(function() {
    $('tr').live('mouseover mouseout', function(event) {
      if (event.type == 'mouseover') {
        add_hover($(this));
      } else {
        remove_hover($(this));
      }
    });

    function add_hover(row){
      if( row.hasClass('row_details') ){
        row.prev("tr").addClass("hover");
      }else{
        row.next("tr.row_details").addClass("hover");
      }
    }

    function remove_hover(row){
      if( row.hasClass('row_details') ){
        row.prev("tr").removeClass("hover");
      }else{
        row.next("tr.row_details").removeClass("hover");
      }
    }

    $(".actions a").bind("ajax:before",  function(){
      row = $(this).parents('tr');
      row.children('td').first().attr("rowspan", "2");
      row.children('td').last().attr("rowspan", "2");
      row_details = row.next();
      row_details.hide();
      row_details
        .children('td')
        .empty()
        .append('<%= image_tag 'ajax-loader.gif' %>');
      row_details.show();
    });

  });
</script>

