<h1>Listado de requerimientos</h1>

<% if @requerimientos.empty? %>
	<p>Aun no hay requerimientos cargados.</p>
<% else %>
	<table>
		<thead>
			<tr>
				<th>N°</th>
				<th>Fecha</th>
				<th>Solicitante</th>
				<th>Empresa</th>
				<th>Sector</th>
				<th>Rubro</th>
				<th>Estado</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @requerimientos.each do |requerimiento| %>
				<tr>
					<td><%= link_to "#{requerimiento.id}", requerimiento  %></td>
					<td><%=	l requerimiento.created_at, :format => :short %></td>
					<td><%= requerimiento.solicitante %></td>
					<td><%= requerimiento.empresa %></td>
					<td><%= requerimiento.sector %></td>
					<td><%= requerimiento.rubro %></td>
					<td><%= requerimiento.estado %></td>
					<td><%= link_to 'Ver', requerimiento %>
					<% if can? :edit, requerimiento %>
						<%= link_to 'Editar', edit_requerimiento_path(requerimiento) %>
					<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

<% end %>

<%= link_to 'Nuevo requerimiento', new_requerimiento_path %>

