<div class="contextual">
  <%= link_to 'Nuevo requerimiento', new_requerimiento_path %>
  <%= link_to 'Exportar', params.merge(:format => 'xls'), :class => :export_xls %>
</div>

<h1>Requerimientos</h1>

<%= render :partial => 'filters' %>

<% if @requerimientos.empty? %>
	<p>Aun no hay requerimientos cargados.</p>
<% else %>
	<table>
		<thead>
			<tr>
        <th title="ordenar por N째"><%= sort_link @search, :id, 'N째' %></th>
				<th title="ordenar por fecha"><%= sort_link @search, :created_at, 'Fecha' %></th>
				<th title="ordenar por solicitante"><%= sort_link @search, :solicitante, 'Solicitante' %></th>
        <th title="ordenar por empresa"><%= sort_link @search, :empresa, 'Empresa' %></th>
        <th title="ordenar por sector"><%= sort_link @search, :sector, 'Sector' %></th>
        <th title="ordenar por rubro"><%= sort_link @search, :rubro, 'Rubro' %></th>
        <th title="ordenar por estado"><%= sort_link @search, :estado, 'Estado' %></th>
        <th>Proveedor</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @requerimientos.each do |requerimiento| %>
				<tr id="<%= requerimiento.id %>">
					<td><%= link_to "#{requerimiento.id}", requerimiento, :title => "Editar requerimiento n째 #{requerimiento.id}"  %> <%= iva_mark(requerimiento) %> </td>
					<td><%=	l requerimiento.created_at, :format => :short %></td>
					<td><%= requerimiento.solicitante %></td>
					<td><%= requerimiento.empresa %></td>
					<td><%= requerimiento.sector %></td>
					<td><%= requerimiento.rubro %></td>
					<td><%= requerimiento.estado %></td>
          <td><%= requerimiento.first_proveedor %></td>
					<td class="actions">
					  <%= link_to 'Ver', requerimiento %>
					  <% if can? :edit, requerimiento %>
						  <%= link_to 'Editar', edit_requerimiento_path(requerimiento) %>
					  <% end %>
					  <%= link_to 'Materiales', requerimiento_materiales_path(requerimiento), :remote => true  %>
					  <% if can? :destroy, requerimiento %>
					    <%= link_to 'Eliminar', requerimiento, :confirm => "Esta seguro que desea eliminar la petici처n #{requerimiento.id}?", :method => :delete, :class => :negative_action %>
					  <% end %>
					</td>
				</tr>
				<tr class="row_details" style="display:none;">
				  <td colspan='6'></td>
				</tr>
			<% end %>
		</tbody>
	</table>
  <%= will_paginate @requerimientos %>
<% end %>

<script>
  $(document).ready(function() {
    $('tr').live('mouseover mouseout', function(event) {
      if (event.type == 'mouseover') {
        add_hover($(this));
      } else {
        remove_hover($(this));
      }
    });

    function add_hover(row){
      if( row.hasClass('row_details') ){
        row.prev("tr").addClass("hover");
      }else{
        row.next("tr.row_details").addClass("hover");
      }
    }

    function remove_hover(row){
      if( row.hasClass('row_details') ){
        row.prev("tr").removeClass("hover");
      }else{
        row.next("tr.row_details").removeClass("hover");
      }
    }

    $(".actions a").bind("ajax:before",  function(){
      row = $(this).parents('tr');
      row.children('td').first().attr("rowspan", "2");
      row.children('td').last().attr("rowspan", "2");
      row_details = row.next();
      row_details.hide();
      row_details
        .children('td')
        .empty()
        .append('<%= image_tag 'ajax-loader.gif' %>');
      row_details.show();
    });

  });
</script>


