<h1>Listing requerimientos</h1>

<table>
  <tr>
    <th>Solicitante</th>
    <th>Empresa</th>
    <th>Sector</th>
    <th>Rubro</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @requerimientos.each do |requerimiento| %>
  <tr>
    <td><%= requerimiento.solicitante %></td>
    <td><%= requerimiento.empresa %></td>
    <td><%= requerimiento.sector %></td>
    <td><%= requerimiento.rubro %></td>
    <td><%= link_to 'Show', requerimiento %></td>
    <td><%= link_to 'Edit', edit_requerimiento_path(requerimiento) %></td>
    <td><%= link_to 'Destroy', requerimiento, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Requerimiento', new_requerimiento_path %>
