<% if @requerimiento.errors.any? %>
	<div id="error_explanation">
    <h2>Ocurrió el siguiente inconveniente:</h2>
    <ul>
    <% @requerimiento.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<h1>Requerimiento N° <%= @requerimiento.id %></h1>

<p>
  <b>Solicitante:</b>
  <%= @requerimiento.solicitante %>
</p>

<p>
  <b>Fecha de carga:</b>
  <%= l @requerimiento.created_at %>
</p>

<p>
  <b>Empresa:</b>
  <%= @requerimiento.empresa %>
</p>

<p>
  <b>Sector:</b>
  <%= @requerimiento.sector %>
</p>

<p>
  <b>Rubro:</b>
  <%= @requerimiento.rubro %>
</p>

<% if @requerimiento.estado.rechazo? %>
	<p class="estado_rechazado">
<% else %>
	<p>
<% end %>
		<b>Estado:</b>
		<%= @requerimiento.estado.to_s %>
	</p>

<% if @requerimiento.estado.rechazo? %>
	<p class="estado_rechazado">
		<b>Motivo del rechazo:</b>
		<%= @requerimiento.motivo_rechazo %>
	</p>
<% end %>

<%= render "materiales" %>

<% if @requerimiento.estado == Estado::APROBADO_X_COMPRAS %>
	<%= render "presupuesto_aprobado", :presupuesto => @requerimiento.presupuesto_aprobado %>
<% else %>
	<%= render "presupuestos" %>
<% end %>


<br/>
<br/>

<% if can? :aprobar_presupuestos, @requerimiento %>
<p>
	<b>Aprobar presupuesto:</b>
	Para aprobar el requerimiento debe seleccionar un presupuesto y aprobarlo
</p>
<% end %>

<b>
	<% if can? :solicitar_aprobacion, @requerimiento %>
		<%= link_to 'Solicitar aprobación', solicitar_aprobacion_requerimiento_path(@requerimiento), :method => :put %>
	<% end %>

	<% if can? :aprobar_por_sector, @requerimiento %>
		<%= link_to 'Aprobar requerimiento', aprobar_requerimiento_path(@requerimiento), :method => :put %>
		<br/>
		<%= link_to 'Rechazar requerimiento', rechazar_requerimiento_path(@requerimiento) %>
	<% end %>

	<% if can? :solicitar_aprobacion_compras, @requerimiento %>
		<%= link_to 'Solicitar aprobación de compras', aprobacion_compras_requerimiento_path(@requerimiento), :method => :put  %>
	<% end %>
	<% if can? :aprobar_presupuestos, @requerimiento %>
		<%= link_to 'Rechazar presupuestos', rechazar_presupuestos_requerimiento_path(@requerimiento)  %>
	<% end %>
</b>

<% if can? :comprar, @requerimiento %>
	<b><a href="#" id="comprar">Comprar</a></b>	
	<p>Queda pendiente que confirme la realización de la compra indicando fecha de entrega. 
	Al realizarlo se informará a expedición para que quede a la espera de la entrega.</p>
	<% content_for :javascript do %>
		<%=  javascript_include_tag "rqm_show" %>
	<% end %>
	
	<%= semantic_form_for 'entrega', :url => comprar_requerimiento_url, :html => {:method => :put} do |form| %>
		<% form.inputs do %>
			<%= form.input :fecha, :required => true, :label => 'Fecha aproximada de entrega', :as => :date, :hint => "Indicar fecha pautada con el proveedor" %>
		<% end %>
		<% form.buttons do %>
      <%= form.commit_button "Confirmar fecha" %>
    <% end %>
	<% end %>
	
<% end %>

<br/>
<br/>
<br/>

<% if can? :edit, @requerimiento %>
	<%= link_to 'Editar', edit_requerimiento_path(@requerimiento) %> |
<% end %>
<%= link_to 'Volver', requerimientos_path %>

