<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<% if @requerimiento.errors.any? %>
	<div id="error_explanation">
    <h2>Ocurrió el siguiente inconveniente:</h2>
    <ul>
    <% @requerimiento.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<h1>Requerimiento N° <%= @requerimiento.id %></h1>

<p>
  <b>Solicitante:</b>
  <%= @requerimiento.solicitante %>
</p>

<p>
  <b>Empresa:</b>
  <%= @requerimiento.empresa %>
</p>

<p>
  <b>Sector:</b>
  <%= @requerimiento.sector %>
</p>

<p>
  <b>Rubro:</b>
  <%= @requerimiento.rubro %>
</p>

<p>
  <b>Estado:</b>
  <%= @requerimiento.estado %>
</p>

<h2>Materiales</h2>
<% if @requerimiento.materiales.empty? %>
	Aun no posee materiales cargados
<% else %>
	<table>
		<tr>
		  <th>Material</th>
		  <th>Cantidad</th>
		  <th></th>
		  <th></th>
		  <th></th>
		</tr>

	<% @requerimiento.materiales.each do |material| %>
		<tr>
		  <td><%= material.nombre %></td>
		  <td><%= material.cantidad %></td>
			<td><%= link_to 'Ver', material_path(material) %></td>
	  	<% if can? :edit, @requerimiento %>
				<td><%= link_to 'Editar', edit_material_path(material) %></td>
				<td><%= link_to 'Eliminar', material, :confirm => 'Esta seguro?', :method => :delete %></td>
			 	<td><%= link_to 'Agregar característica', new_material_caracteristica_path(material) %>	</td>
		 	<% end %>
		</tr>
	<% end %>
	</table>
<% end %>

<% if can? :add_material, @requerimiento %>
	<%= link_to 'Agregar material', new_requerimiento_material_path(@requerimiento) %>
<% end %>
<br/>

<h2>Presupuestos</h2>
<% if @requerimiento.presupuestos.empty? %>
	Aun no posee presupuestos cargados
<% else %>
	<table>
		<tr>
		  <th>Proveedor</th>
		  <th>Monto</th>
		  <th>Condición de pago</th>
		  <th>Detalle</th>
		  <th></th>
		  <th></th>
		</tr>

	<% @requerimiento.presupuestos.each do |presupuesto| %>
		<tr>
		  <td><%= presupuesto.proveedor.razon_social %></td>
		  <td><%= "#{presupuesto.moneda.simbolo} #{presupuesto.monto}" %></td>
		  <td><%= presupuesto.condicion_pago.nombre %></td>
		  <td><%= link_to 'Editar', edit_presupuesto_path(presupuesto) %></td>
		  <td><%= link_to 'Eliminar', presupuesto, :confirm => 'Esta seguro?', :method => :delete %></td>
		</tr>
	<% end %>
	</table>
<% end %>
<%= link_to 'Agregar presupuesto', new_requerimiento_presupuesto_path(@requerimiento)  %>
<br/>
<br/>

<% if can? :solicitar_aprobacion, @requerimiento %>
	<b><%= link_to 'Solicitar aprobación', solicitar_aprobacion_requerimiento_path(@requerimiento), :method => :put %></b>
	<br/>
	<br/>
<% end %>

<% if can? :aprobar_por_sector, @requerimiento %>
	<%= link_to 'Aprobar requerimiento', aprobar_requerimiento_path(@requerimiento), :method => :put %>
	<br/>
	<%= link_to 'Rechazar requerimiento', rechazar_requerimiento_path(@requerimiento), :method => :put %>
	<br/>
	<br/>
<% end %>

<% if can? :edit, @requerimiento %>
	<%= link_to 'Editar', edit_requerimiento_path(@requerimiento) %> |
<% end %>
<%= link_to 'Volver', requerimientos_path %>

