<p id="notice"><%= notice %></p>

<p>
  <b>Solicitante:</b>
  <%= @requerimiento.solicitante %>
</p>

<p>
  <b>Empresa:</b>
  <%= @requerimiento.empresa %>
</p>

<p>
  <b>Sector:</b>
  <%= @requerimiento.sector %>
</p>

<p>
  <b>Rubro:</b>
  <%= @requerimiento.rubro %>
</p>

<h2>Materiales</h2>
<table>
  <tr>
    <th>Material</th>
    <th>Cantidad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @requerimiento.materiales.each do |material| %>
  <tr>
    <td><%= material.nombre %></td>
    <td><%= material.cantidad %></td>
    <td><%= link_to 'Show', material_path(material) %></td>
    <td><%= link_to 'Edit', edit_material_path(material) %></td>
   	<td><%= link_to 'Agregar característica', new_material_caracteristica_path(material) %>	</td>
    <td><%= link_to 'Destroy', material, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Agregar material', new_requerimiento_material_path(@requerimiento) %>
<%= link_to 'Edit', edit_requerimiento_path(@requerimiento) %> |
<%= link_to 'Back', requerimientos_path %>

