<div id="rqm">

  <h1>Requerimiento N° <%= @requerimiento.id %></h1>

  <div class="rqm-info">
    <div class="left">
      <dl>
        <dt>Solicitante</dt>
        <dd><%= @requerimiento.solicitante %></dd>
      </dl>
      <dl>
        <dt>Fecha de carga</dt>
        <dd><%= l @requerimiento.created_at %></dd>
      </dl>    
      <dl>
        <dt>Estado</dt>
        <dd class=" <%= @requerimiento.estado.rechazo? ? 'estado_rechazado' : '' %> ">
          <%= @requerimiento.estado.to_s %>
		      <%- if @requerimiento.estado == Estado::PENDIENTE_RECEPCION %>
		        <i>
		        <%= " (Fecha probable de entrega: #{l @requerimiento.compra.fecha_probable_entrega})" %>
		        </i>
		      <% end -%>
        </dd>  
      </dl>
      <% if @requerimiento.estado.rechazo? %>
        <dl>
          <dt>Motivo del rechazo</dt>
          <dd class="estado_rechazado"><%= @requerimiento.motivo_rechazo %></dd>
        </dl>
      <% end %>
    </div>
    <div class="right">
      <dl>
        <dt>Empresa</dt>
        <dd><%= @requerimiento.empresa %></dd>
      </dl>
      <dl>
        <dt>Sector</dt>
        <dd><%= @requerimiento.sector %></dd>
      </dl>
      <dl>
        <dt>Rubro</dt>
        <dd><%= @requerimiento.rubro %></dd>
      </dl>
    </div>
  </div>
</div>
