<% if @requerimiento.errors.any? %>
	<div id="error_explanation">
    <h2>Ocurri처 el siguiente inconveniente:</h2>
    <ul>
    <% @requerimiento.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div id="rqm">

  <h1>Requerimiento N째 <%= @requerimiento.id %></h1>

  <div class="rqm-info">
    <div class="left">
      <dl>
        <dt>Solicitante</dt>
        <dd><%= @requerimiento.solicitante %></dd>
      </dl>
      <dl>
        <dt>Fecha de carga</dt>
        <dd><%= l @requerimiento.created_at %></dd>
      </dl>    
      <dl>
        <dt>Estado</dt>
        <dd class=" <%= @requerimiento.estado.rechazo? ? 'estado_rechazado' : '' %> ">
          <%= @requerimiento.estado.to_s %>
		      <%- if @requerimiento.estado == Estado::PENDIENTE_RECEPCION %>
		        <i>
		        <%= " (Fecha probable de entrega: #{l @requerimiento.compra.fecha_probable_entrega})" %>
		        </i>
		      <% end -%>
        </dd>  
      </dl>
      <% if @requerimiento.estado.rechazo? %>
        <dl>
          <dt>Motivo del rechazo</dt>
          <dd class="estado_rechazado"><%= @requerimiento.motivo_rechazo %></dd>
        </dl>
      <% end %>
    </div>
    <div class="right">
      <dl>
        <dt>Empresa</dt>
        <dd><%= @requerimiento.empresa %></dd>
      </dl>
      <dl>
        <dt>Sector</dt>
        <dd><%= @requerimiento.sector %></dd>
      </dl>
      <dl>
        <dt>Rubro</dt>
        <dd><%= @requerimiento.rubro %></dd>
      </dl>
    </div>
  </div>
  <%= render "materiales" %>

  <% if @requerimiento.estado >= Estado::APROBADO_X_COMPRAS %>
	  <%= render "presupuestos/aprobado", :presupuesto => @requerimiento.presupuesto_aprobado %>
  <% else %>
	  <%= render "presupuestos/list", :presupuestos => @requerimiento.presupuestos %>
  <% end %>


  <% if can? :aprobar_presupuestos, @requerimiento %>
  <p>
	  <b>Aprobar presupuesto:</b>
	  Para aprobar el requerimiento debe seleccionar un presupuesto y aprobarlo
  </p>
  <% end %>

  <b>
	  <% if can? :solicitar_aprobacion, @requerimiento %>
		  <%= link_to 'Solicitar aprobaci처n', solicitar_aprobacion_requerimiento_path(@requerimiento), :method => :put %>
	  <% end %>

	  <% if can? :aprobar_por_sector, @requerimiento %>
		  <%= link_to 'Aprobar requerimiento', aprobar_requerimiento_path(@requerimiento), :method => :put %>
		  <br/>
		  <%= link_to 'Rechazar requerimiento', rechazar_requerimiento_path(@requerimiento) %>
	  <% end %>

	  <% if can? :solicitar_aprobacion_compras, @requerimiento %>
		  <%= link_to 'Solicitar aprobaci처n de compras', aprobacion_compras_requerimiento_path(@requerimiento), :method => :put  %>
	  <% end %>

	  <% if can? :aprobar_presupuestos, @requerimiento %>
		  <%= link_to 'Rechazar presupuestos', rechazar_presupuestos_requerimiento_path(@requerimiento)  %>
	  <% end %>

	  <% if can? :recepcionar, @requerimiento %>
		  <%= link_to 'Recepcionar materiales', recepcionar_requerimiento_path(@requerimiento), :method => :put %>
	  <% end %>

	  <% if can? :verificar_entrega, @requerimiento %>
		  <%= link_to 'Entrega correcta', verificar_entrega_requerimiento_path(@requerimiento), :method => :put %>
		  | 
		  <%= link_to 'Rechazar entrega', rechazar_entrega_requerimiento_path(@requerimiento)  %>
	  <% end %>

	  <% if can? :finalizar, @requerimiento %>
		  <%= link_to 'Finalizar requerimiento', finalizar_requerimiento_path(@requerimiento), :method => :put  %>
	  <% end %>
  </b>

  <% if can? :comprar, @requerimiento %>
	  <%= render "comprar" %>
  <% end %>

  <br/>

  <% if can? :edit, @requerimiento %>
	  <%= link_to 'Editar', edit_requerimiento_path(@requerimiento), :class => 'edit' %>
  <% end %>
  <%= link_to 'Volver', requerimientos_path, :class => 'back_button' %>
  <br/>
</div>

