<h1>Listado de materiales</h1>

<table>
  <tr>
    <th>Material</th>
    <th>Cantidad</th>
    <th>Detalle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @materiales.each do |material| %>
  <tr>
    <td><%= material.material %></td>
    <td><%= material.cantidad %></td>
    <td><%= material.detalle %></td>
    <td><%= link_to 'Ver', material %></td>
    <td><%= link_to 'Editar', edit_material_path(material) %></td>
    <td><%= link_to 'Eliminar', material, :confirm => 'Esta seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo material', new_requerimiento_material_path %>

