<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<p>
  <b>Material:</b>
  <%= @material.nombre %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @material.cantidad %>
</p>
<% unless @material.detalle.empty? %>
	<p>
		<b>Detalle:</b>
		<%= @material.detalle %>
	</p>
<% end %>

<% unless @material.caracteristicas.empty? %>
	<h2>Características</h2>
	<table>
	<% @material.caracteristicas.each do |caracteristica| %>
		<tr>
		  <td><%= caracteristica.nombre %></td>
		  <td><%= caracteristica.valor %></td>
		  <% if can? :edit, @material.requerimiento %>
			  <td><%= link_to 'Editar', edit_caracteristica_path(caracteristica) %></td>
			  <td><%= link_to 'Eliminar', caracteristica, :confirm => '¿Esta segúro que desea eliminar la característica?', :method => :delete %></td>
			<% end %>
		</tr>
	<% end %>
	</table>
<% end %>

<% if can? :edit, @material.requerimiento %>
	<%= link_to 'Agregar característica', new_material_caracteristica_path(@material) %> |
	<%= link_to 'Editar', edit_material_path(@material) %> |
<% end %>
<%= link_to 'Volver', requerimiento_path(@material.requerimiento) %>

