<p id="notice"><%= notice %></p>

<p>
  <b>Material:</b>
  <%= @material.material %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @material.cantidad %>
</p>

<p>
  <b>Detalle:</b>
  <%= @material.detalle %>
</p>


<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materiales_path %>
