<div class="contextual">
  <%= link_to 'Nuevo rubro', new_rubro_path %>
</div>

<h1>Rubros</h1>

<table>
	<thead>
		<tr>
		  <th>Nombre</th>
		  <th></th>
		</tr>
	</thead>
	<tbody>
	<% @rubros.each do |rubro| %>
		<tr>
		  <td>
		    <%= link_to rubro.nombre, edit_rubro_path(rubro) %>
		  </td>
		  <td class="actions">
				<%= link_to 'Editar', edit_rubro_path(rubro) %>
				<%= link_to 'Eliminar', rubro, :confirm => 'Esta seguro?', :method => :delete %>
			</td>
		</tr>
	<% end %>
	</tbody>
	<%= will_paginate @rubros %>
</table>

