<div class="contextual">
  <%= link_to 'Nuevo rubro', new_rubro_path %>
</div>

<h1>Rubros</h1>

<table>
	<thead>
		<tr>
		  <th>Nombre</th>
		  <th>¿Está habilitado?</th>
		  <th></th>
		</tr>
	</thead>
	<tbody>
	<% @rubros.each do |rubro| %>
		<tr>
		  <td>
		    <%= link_to rubro.nombre, edit_rubro_path(rubro) %>
		  </td>
		  <td><%= rubro.enabled? ? 'Si' : 'No' %></td>
		  <td class="actions">
				<%= link_to 'Editar', edit_rubro_path(rubro) %>
        <% if rubro.enabled? %>
  		  	<%= link_to 'Deshabilitar', rubro, :confirm => 'Esta seguro?', :method => :delete %>
  		  <% else %>
  		    <%= link_to 'Habilitar', enable_rubro_path(rubro), :confirm => 'Esta seguro?', :method => :put %>
  		  <% end %>
			</td>
		</tr>
	<% end %>
	</tbody>
	<%= will_paginate @rubros %>
</table>

