<h1>Listado de rubros</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rubros.each do |rubro| %>
  <tr>
    <td><%= rubro.nombre %></td>
    <td><%= link_to 'Ver', rubro %></td>
    <td><%= link_to 'Editar', edit_rubro_path(rubro) %></td>
    <td><%= link_to 'Eliminar', rubro, :confirm => 'Esta seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo rubro', new_rubro_path %>

