<% if can? :gestionar_presupuesto, @requerimiento %>
  <div class="contextual">
  	<%= link_to 'Agregar presupuesto', new_requerimiento_presupuesto_path(@requerimiento)  %>
  </div>
<% end %>

<h2>Presupuestos</h2>
<% if presupuestos.empty? %>
	<p>Aun no posee presupuestos cargados</p>
<% else %>
	<table class="presupuestos">
		<thead>
			<tr>
				<th>Proveedor</th>
				<th>Monto total final</th>
				<!-- <th>Condición de pago</th> -->
				<th>Detalle</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% presupuestos.each do |presupuesto| %>
				<tr>
					<td>
						<%= presupuesto.proveedor.razon_social %>
					</td>
					<td>
						<%= presupuesto.moneda.simbolo %> <%= number_with_precision presupuesto.monto_total %>
					</td>
					<!-- <td><%#= presupuesto.condicion_pago.nombre %></td> -->
					<td><%= presupuesto.detalle %></td>
					<td class="actions">
					<%= link_to 'Ver', presupuesto_path(presupuesto) %>
					<% if can? :gestionar_presupuesto, @requerimiento %>
						<%= link_to 'Editar', edit_presupuesto_path(presupuesto) %>
						<%= link_to 'Eliminar', presupuesto, :confirm => 'Esta seguro?', :method => :delete %>
					<% end %>
					<% if can? :aprobar_presupuestos, @requerimiento %>
            <%= link_to 'Aprobar presupuesto', aprobar_presupuesto_path(presupuesto), :method => :put, :class => :approve %>
					<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

