<%= form_for(@moneda) do |f| %>
  <% if @moneda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@monedaerrors.count,  "error evita", "errores evitan") %> que los datos de la moneda puedan ser guardados:</h2>

      <ul>
      <% @moneda.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :simbolo %><br />
    <%= f.text_field :simbolo %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar moneda"%>
  </div>
<% end %>

