<div class="contextual">
  <%= link_to 'Nueva moneda', new_moneda_path %>
</div>
<h1>Tipos de moneda</h1>

<table>
	<thead>
		<tr>
		  <th>Símbolo</th>
		  <th>Nombre</th>
		  <th></th>
		</tr>
	</thead>
	<tbody>
	<% @monedas.each do |moneda| %>
		<tr>
		  <td><%= moneda.simbolo %></td>
		  <td><%= moneda.nombre %></td>
		  <td>
		  	<%= link_to 'Ver', moneda %>
				<%= link_to 'Editar', edit_moneda_path(moneda) %>
				<%= link_to 'Eliminar', moneda, :confirm => 'Are you sure?', :method => :delete %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>

