<div class="contextual">
  <%= link_to 'Nuevo proveedor', new_proveedor_path %>
</div>
<div class="contextual">
  <% unless Empresa.first.url_poseidon.blank? %>
    <%= link_to 'Nuevo proveedor desde Poseidon', new_proveedor_path %>
  <% end %>
</div>

<h1>Proveedores</h1>

<div id="filters" class="accordion">
  <h3><a href="#">Fitros</a></h3>
  <div class="filters-content">
  <%= semantic_form_for @search do |f| %>
	  <%= f.inputs do %>
		  <%= f.input :razon_social_contains %>
		  <%= f.input :cuit_contains %>
	  <% end %>
	  <%= f.buttons do %>
	    <%= f.commit_button :search %>
	  <% end %>
  <% end %>
  </div>
</div>

<table>
	<thead>
		<tr>
		  <th title="ordenar por razón social"><%= sort_link @search, :razon_social %></th>
		  <th title="ordenar por CUIT"><%= sort_link @search, :cuit %></th>
		  <th>Teléfono</th>
		  <th>Representante</th>
		  <th>¿Está habilitado?</th>
		  <th></th>
		</tr>
	</thead>
	<tbody>
	<% @proveedores.each do |proveedor| %>
		<tr>
		  <td><%= proveedor.razon_social %></td>
 		  <td><%= proveedor.cuit %></td>
		  <td><%= proveedor.telefono %></td>
      <td><%= proveedor.representante %></td>
      <td><%= proveedor.enabled? ? 'Si' : 'No' %></td>
		  <td class="actions">
	    	<%= link_to 'Ver', proveedor, :class => 'show' %>
	    	<%= link_to 'Editar', edit_proveedor_path(proveedor) %>
        <% if proveedor.enabled? %>
  		  	<%= link_to 'Deshabilitar', proveedor, :confirm => 'Esta seguro?', :method => :delete %>
  		  <% else %>
  		    <%= link_to 'Habilitar', enable_proveedor_path(proveedor), :confirm => 'Esta seguro?', :method => :put %>
  		  <% end %>
			</td>
		  </td>
		</tr>
	<% end %>
	</tbody>
</table>
<%= will_paginate @proveedores %>

