<h1>Listado de proveedores</h1>

<%= semantic_form_for @search do |f| %>
	<%= f.inputs 'Filtrar' do %>
		<%= f.input :razon_social_contains, :label => 'Razón social'%>
		<%= f.input :cuit_contains %>
	<% end %>
	<%= f.buttons do %>
	  <%= f.commit_button :search %>
	<% end %>
<% end %>

<%= will_paginate @proveedores %>
<table>
	<thead>
		<tr>
		  <th><%= sort_link @search, :razon_social %></th>
		  <th>CUIT</th>
		  <th>Teléfono</th>
		  <th>Representante</th>
		  <th></th>
		</tr>
	</thead>
	<tbody>
	<% @proveedores.each do |proveedor| %>
		<tr>
		  <td><%= proveedor.razon_social %></td>
 		  <td><%= proveedor.cuit %></td>
		  <td><%= proveedor.telefono %></td>
      <td><%= proveedor.representante %></td>
		  <td>
		  	<%= link_to 'Ver', proveedor %>
		  	<%= link_to 'Editar', edit_proveedor_path(proveedor) %>
		  	<%= link_to 'Eliminar', proveedor, :confirm => 'Esta seguro?', :method => :delete %>
		  </td>
		</tr>
	<% end %>
	</tbody>
</table>
<%= will_paginate @proveedores %>

<br />

<%= link_to 'Nuevo proveedor', new_proveedor_path %>

