<%= form_for(@sector) do |f| %>
  <% if @sector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sector.errors.count, "error evita", "errores evitan") %> que los datos del sector sean guardados:</h2>

      <ul>
      <% @sector.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>

	<div class="field">
    <%= f.label :responsable %><br />
		<%= f.collection_select :responsable_id, Usuario.all, :id, :nombre_completo, :include_blank => "Seleccione..." %>
		&nbsp;<%= link_to 'Nuevo usuario',  new_usuario_registration_path %>
	</div>
	
  <div class="actions">
    <%= f.submit "Guardar sector" %>
  </div>
<% end %>

