<div class="contextual">
  <%= link_to 'Nuevo sector', new_sector_path %>
</div>

<h1>Sectores</h1>

<table>
	<thead>
		<tr>
		  <th>Nombre</th>
		  <th>Responsables</th>
		  <th>E-mail</th>
		  <th>Habilitado?</th>
		  <th></th>
		</tr>
	</thead>
	<tbody>
	<% @sectores.each do |sector| %>
		<tr>
		  <td><%= sector.nombre %></td>
		  <%- if sector.responsables.size == 1 %>
		  	<td><%= sector.responsables.first.nombre_completo %></td>
		  <% elsif sector.responsables.empty? %>
		  	<td>-</td>
		  <% else %>
			  <td><%= sector.responsables.size %></td>
		  <% end -%>
		  <td><%= sector.email %></td>
		  <td><%= sector.enabled? ? 'Si' : 'No' %></td>
		  <td class="actions">
		  	<%= link_to 'Ver', sector %>
		  	<%= link_to 'Editar', edit_sector_path(sector) %>
		  	<% if sector.enabled? %>
  		  	<%= link_to 'Deshabilitar', sector, :confirm => 'Esta seguro?', :method => :delete %>
  		  <% else %>
  		    <%= link_to 'Habilitar', enable_sector_path(sector), :confirm => 'Esta seguro?', :method => :put %>
  		  <% end %>
		  </td>
		</tr>
	<% end %>
	</tbody>
</table>
<%= will_paginate @sectores %>

