<h1>Sector</h1>
<dl>
	<dt>Nombre</dt>
	<dd><%= @sector.nombre %></dd>

	<dt>Email</dt>
	<dd>
	  <% unless @sector.email.empty? %>
  	  <%= @sector.email %>
  	<% else %>
  	  -
  	<% end %>
	</dd>

	<dt>Responsables</dt>
	<dd>
		<ul>
		<% @sector.responsables.each do |responsable| %>
			<li><%= responsable.nombre_completo %></li>
		<% end %>
		</ul>
	</dd>
</dl>

<%= link_to 'Editar', edit_sector_path(@sector), :class => 'boton' %>
<%= link_to 'Volver', sectores_path, :class => 'back_button' %>

