<div class="contextual">
  <%= link_to 'Nueva condición de pago', new_condicion_pago_path %>
</div>

<h1>Condiciones de pago</h1>

<table>
	<thead>
		<tr>
		  <th>Nombre</th>
		  <th>Descripción</th>
		  <th></th>
		</tr>
	</thead>
	<tbody>
	<% @condiciones_pagos.each do |condicion_pago| %>
		<tr>
		  <td>
		    <%= link_to condicion_pago.nombre, edit_condicion_pago_path(condicion_pago), :title => "Editar #{condicion_pago.nombre}" %>
		  <td>
		    <%= condicion_pago.descripcion %>
		  </td>
		  <td class="actions">
				<%= link_to 'Editar', edit_condicion_pago_path(condicion_pago) %>
				<%= link_to 'Eliminar', condicion_pago, :confirm => 'Está seguro?', :method => :delete %>
		  </td>
		</tr>
	<% end %>
	</tbody>
</table>
<%= will_paginate @condiciones_pagos %>

