<h1>Listado de usuarios</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Identificador</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%= usuario.nombre %></td>
    <td><%= usuario.apellido %></td>
    <td><%= usuario.identificador %></td>
    <td><%= link_to 'Ver', usuario %></td>
    <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
    <td><%= link_to 'Eliminar', usuario, :confirm => 'Esta seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo usuario', new_usuario_path %>

