<div class="contextual">
  <%= link_to 'Nueva empresa', new_empresa_path %>
</div>

<h1>Empresas</h1>

<table>
	<thead>
		<tr>
		  <th>Nombre</th>
		  <th></th>
		</tr>
	</thead>
	<tbody>
	<% @empresas.each do |empresa| %>
		<tr>
		  <td><%= empresa.nombre %></td>
		  <td>
		  	<%= link_to 'Detalles', empresa %>
				<%= link_to 'Editar', edit_empresa_path(empresa) %>
				<%= link_to 'Eliminar', empresa, :confirm => 'Esta seguro?', :method => :delete %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>

