<div id="menu">
  <ul id="nav">
    <li><%= link_to "Requerimientos", requerimientos_path %></li>
    <%- if current_usuario.admin? %>
		  <li>
		    <a href="#">Configuración</a>
		    <ul>
		      <li><%= link_to I18n.t('menu.sectores'), sectores_path %></li>
		      <li><%= link_to I18n.t('menu.rubros'), rubros_path %></li>
		      <li><%= link_to "Empresas", empresas_path %></li>
		      <li><%= link_to 'Proveedores', proveedores_path %></li>
		      <li><%= link_to 'Tipos de Moneda', monedas_path %></li>
		      <li><%= link_to 'Condiciones de pago', condiciones_pagos_path %></li>
		      <li><%= link_to 'Usuarios', usuarios_path %></li>
		    </ul>
		  </li>
    <% end -%>
  </ul>
</div>

