<!DOCTYPE html>
<html>
<head>
  <title>Rms</title>
  <%= stylesheet_link_tag "app", "formtastic", "formtastic_changes", "menu", "scaffold" %>
  <%= formtastic_stylesheet_link_tag %>
  <%= yield :stylesheets %>
  <%= csrf_meta_tag %>
</head>
<body>
	<% if usuario_signed_in? %>
		<%= render "layouts/user_nav" %>
		<div id="menu">
		  <ul id="nav">
		    <li><%= link_to "Requerimientos", requerimientos_path %></li>
		    <li>
		      <a href="">Configuración</a>
		      <ul>
		        <li><%= link_to "Sectores", sectores_path %></li>
		        <li><%= link_to "Rubros", rubros_path %></li>
		        <li><%= link_to "Empresas", empresas_path %></li>
		        <li><%= link_to 'Proveedores', proveedores_path %></li>
		        <li><%= link_to 'Tipos de Moneda', monedas_path %></li>
		        <li><%= link_to 'Condiciones de pago', condiciones_pagos_path %></li>
		      </ul>
		    </li>
		  </ul>
		</div>
	<% end %>
<!--
	warn
	info
	notice
	alert
	error
-->
	<div id="notification_area">
		<% if flash[:alert] %>
			<div class="notification warning hideit">
				<p><strong>Precuación: </strong><%= flash[:alert] %></p>
			</div>
		<% end %>
		<% if flash[:info] %>
 			<div class="notification information hideit">
 				<p><strong>Información: </strong><%= flash[:info] %></p>
 			</div>
 		<% end %>
		<% if notice != nil%>
			<div class="notification success hideit">
				<p><strong>Correcto: </strong><%= notice %></p>
	    </div>
    <% end %>
    <% if flash[:error] %>
			<div class="notification failure hideit">
 				<p><strong>Error: </strong><%= flash[:error] %></p>
	    </div>
	  <% end %>
	</div>

	<div id="content">
		<%= yield %>
	</div>

  <%= javascript_include_tag :defaults %>
</body>
</html>

