<%= form_for([@material, @caracteristica]) do |f| %>
  <% if @caracteristica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caracteristica.errors.count,  "error evita", "errores evitan") %> que esta caracter&iacute;stica pueda ser grabada:</h2>

      <ul>
      <% @caracteristica.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <b>Material:</b>
    <%= @caracteristica.material.nombre %>
  </p>


  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar Característica" %>
  </div>
<% end %>

