<h2>Característica del material: <%= @caracteristica.material.nombre %></h2>
<p>
  <b>Nombre:</b>
  <%= @caracteristica.nombre %>
</p>

<p>
  <b>Valor:</b>
  <%= @caracteristica.valor %>
</p>

<%= link_to 'Editar', edit_caracteristica_path(@caracteristica) %> |
<%= link_to 'Volver', material_path(@caracteristica.material) %>

